<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

  <!-- js -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

<!-- plain javascript
<section class="section container">
  <h1 class="title">Bee Free</h1>
  <input type="text" class="input">
</section>
-->
<!-- vue -->
<section id="app" class="section container">
  <h1 class="title">Hi fucker my name is {{name}} and my message for u is {{message}}</h1>
  <input type="text" class="input" v-model="message">
  <input type="text" class="input" v-model="name">
</section>

<!-- our javascript -->
<script>
  //plain js example
  /**
   const heading = document.querySelector('h1');
   const input = document.querySelector('input');
   // listen to the input box
   input.addEventListener('keyup', (e) => {
    const text = e.target.value;
    heading.innerText = text;
  });
   */
  //jQuery example
  /**
   $('input').on('keyup', (e) => {
    $('h1').text(e.target.value);
  });
   */

          //vue example

  const app = new Vue({
            el: '#app',
            data: {
              name: 'Katakuri',
              message: 'Be free'
            }
          });

</script>
</body>
</html>